body {
    background: #202020;
    font-family: sans-serif;
    color: #fff;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #303030;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form input[type="text"],
.form input[type="password"] {
    font-family: sans-serif;
    outline: none;
    background: none;
    border: none;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
    border-bottom: 2px solid #fff;
}

.form button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: none;
    background: #ff9800;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s ease;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #ff6600;
}

.form .message {
    margin: 15px 0 0;
    font-size: 12px;
    color: #fff;
}

.form .message a {
    color: #fff;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
}