.img-inner{
  width:100%;
}
.on-show{
  display: flex !important;;
}
.page-wrap-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-inner-1170{
  width:1170px;

}
.PageHomeInner{
  background-color: #fff;
  margin-top: 58px;
}
.PageMenuBar{
  position: fixed;
  width: 100%;
  height: 68px;
  background-image: radial-gradient(57.05% 18483.75% at 50% 50%, #7ebbe7 0%, #0d7cd0 100%);;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  z-index: 100;
  align-items: center;
}
.PageLogoWrap{
}
.PageLogoBtn{
  border: none;
  padding: 12px 24px;
  color: #2576b9;
  background-color: #ffd95c;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 24px;
  font-size: 18px;
  text-decoration: none;
}
.PageHomeIntroWrap{
    background-color: #fff;
    padding: 10px 0 72px;
    position:relative;
}
.PageHomeIntroHeader{
  text-align: center;
  font-weight: 700;
    color: #2576b9;
    text-transform: uppercase;
    margin: 0 auto;
  font-size:42px;
  padding-bottom: 54px;
  background-color: #bcdaf2;
}
.splide__slide img {
    width: 100%;
    height: auto;
  }
  .PageHomeIntroSlide{
    display: flex;
    justify-content: center;
    background-color: #bcdaf2;
  }
.introSlider{
    padding: 72px 32px;
    border-radius: 16px;
    overflow: hidden;
    max-width: 942px;
    background-color: #fff;
    margin-bottom: 34px;
}
.IntroSlider{
  margin-top:32px;
  position:relative;
}
.introSlidler-item{
  margin:18px 0;
  font-size: 18px;
  text-align: center;
}
.slider-quote{
  width:100px;
  position:absolute;
  left:44.5px;
  z-index: 2;
  top:-30px;
}
.silder-quote-img{
  width:100%; 
}

.intro-control-prev{
  width:32px;
  height:32px;
  left:-54px;
  top:120px;
  opacity: 1;
}
.intro-control-next-wrap{
  width:32px;
  height:32px;
  right:-54px;
  top:120px;
  opacity: 1;
}
.intro-control-icon-prev{
  background-image: url(../images/pre.svg);
}
.intro-control-icon-next{
  background-image: url(../images/next.svg);

}
.introNavigation{
  position: relative;
}
.introNav-item{
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-item-wrap{
  width: 120px;
  height:120px;
  border-radius: 50%;
  overflow: hidden;
  margin-top:40px;
}
.introNavImg{
  width: 100%;
  height:100%;
}
.introSlidePagging{
  max-width : 942px;
  
}
.introNavigation button{
  display: none;
}
.slick-current .intro-item-wrap {
  width:200px;
  height:200px;
  border: solid 3px #2576b9;
  margin-top:0;
}
.intro-item-name{
  font-size: 18px;
    text-align: center;
    color: #2576b9;
    margin: 16px 0 4px 0;
    font-weight: 700;
}
.wave-jouney-start-wrap{
  height:200px;
  background-color: #fff;
}
/* page home intro jouney*/
.PageHomeIntroJouney{
  flex-direction: column;
  background-color: #fff;
  padding-top:24px;
}
.PageHomeIntroJouneyTitle{
  width:870px;
  font-size: 34px;
  font-weight: 700;
  color: #2576b9;
  text-align: center;
  line-height: 54px;
}
.jouney-intro-wrap{
  overflow-x: hidden;
}
.intro-jouney-ul{
  margin-top: 12px;
  --bs-nav-tabs-border-width:0px;
  position: relative;
  flex-wrap: nowrap!important;
}
.intro-jouney-ul li{
  padding-right:20px;
  position: relative;
}
.intro-jouney-ul li::before{
  content: "";
  position: absolute;
  right:0;
  width: 20px;
  top:25px;
  height:1px;
  background-color: #2576b9;
}
.intro-jouney-ul li:last-child::before{
  display: none;
}
.intro-jouney-ul li:last-child{
  padding-right: 0;
}
.intro-jouney-ul button {
  font-size: 16px;
  border-radius: 40px!important;
  padding: 12px 28px;
  cursor: pointer;
  color: #2576b9!important;
  border: 1px solid #90a4ae!important;
  transition: 0.5s ease;
  position: relative;
  text-align: center;
  min-width: 110px;
  background-color: #fff;
}
.intro-jouney-ul li:first-child button{
  min-width: 130px;
  padding:12px 20px;
}
.intro-jouney-ul button.active{
  color: #ffd95c!important;
  background-color: #2576b9!important;
}
.jouney-tab-content-wrap{
  display:flex;
  justify-content: center;
  width: 1080px;
  margin-top: 38px;
}
.left-img-wrap{
  flex: 1;
  min-height: 500px;
  position: relative;
}
.border-top-img{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  overflow: hidden;
}
.img-bg{
  background-image: url("../../assets/images/backgroud-tongquan-jouney.svg");
  background-repeat: no-repeat;
  padding-top: 46px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.jou-img{
  width: 100%;
}
.right-content-wrap{
  flex:1;
  margin-left: 36px;
}
.jou-right-title{
  margin-bottom: 47px;
    position: relative;
    font-size: 36px;
    line-height: 106%;
    font-weight: 700;
    color: white;
    text-shadow: #eb9cc3 9px 0px 0px, #eb9cc3 8.9445px 0.997944px 0px, #eb9cc3 8.77869px 1.98358px 0px, #eb9cc3 8.50461px 2.94475px 0px, #eb9cc3 8.12565px 3.86961px 0px, #eb9cc3 7.64647px 4.74674px 0px, #eb9cc3 7.07299px 5.56533px 0px, #eb9cc3 6.41227px 6.31528px 0px, #eb9cc3 5.67248px 6.98735px 0px, #eb9cc3 4.86272px 7.57324px 0px, #eb9cc3 3.99299px 8.06573px 0px, #eb9cc3 3.07402px 8.45875px 0px, #eb9cc3 2.11714px 8.74744px 0px, #eb9cc3 1.13414px 8.92825px 0px, #eb9cc3 0.137162px 8.99895px 0px, #eb9cc3 -0.861512px 8.95867px 0px, #eb9cc3 -1.84956px 8.8079px 0px, #eb9cc3 -2.8148px 8.5485px 0px, #eb9cc3 -3.74532px 8.18368px 0px, #eb9cc3 -4.62965px 7.71792px 0px, #eb9cc3 -5.45689px 7.15698px 0px, #eb9cc3 -6.21682px 6.50777px 0px, #eb9cc3 -6.90009px 5.77831px 0px, #eb9cc3 -7.49825px 4.97757px 0px, #eb9cc3 -8.00394px 4.11545px 0px, #eb9cc3 -8.41092px 3.20258px 0px, #eb9cc3 -8.71416px 2.2502px 0px, #eb9cc3 -8.90993px 1.27008px 0px, #eb9cc3 -8.99582px 0.274291px 0px, #eb9cc3 -8.97076px -0.72488px 0px, #eb9cc3 -8.83507px -1.71511px 0px, #eb9cc3 -8.59041px -2.68419px 0px, #eb9cc3 -8.23981px -3.62017px 0px, #eb9cc3 -7.78758px -4.51149px 0px, #eb9cc3 -7.23931px -5.34718px 0px, #eb9cc3 -6.60176px -6.11692px 0px, #eb9cc3 -5.88279px -6.81122px 0px, #eb9cc3 -5.09127px -7.42152px 0px, #eb9cc3 -4.23696px -7.94029px 0px, #eb9cc3 -3.33039px -8.36113px 0px, #eb9cc3 -2.38275px -8.67885px 0px, #eb9cc3 -1.40572px -8.88954px 0px, #eb9cc3 -0.411357px -8.99059px 0px, #eb9cc3 0.58808px -8.98077px 0px, #eb9cc3 1.58026px -8.86018px 0px, #eb9cc3 2.55296px -8.63032px 0px, #eb9cc3 3.49417px -8.29402px 0px, #eb9cc3 4.39229px -7.85543px 0px, #eb9cc3 5.23623px -7.31996px 0px, #eb9cc3 6.0156px -6.69422px 0px, #eb9cc3 6.72078px -5.98591px 0px, #eb9cc3 7.34307px -5.20378px 0px, #eb9cc3 7.87479px -4.35748px 0px, #eb9cc3 8.3094px -3.45743px 0px, #eb9cc3 8.64153px -2.51474px 0px, #eb9cc3 8.86709px -1.54104px 0px, #eb9cc3 8.98328px -0.548328px 0px
}
.jou-right-content{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.25px;
    text-align: left;
    line-height: 28px;
    color: black;
}
/*next*/
.background-line{
      position: relative;
      height:200px;
      width: 92%;
      max-width: 1333px;
      margin-left: auto;
}
.i-rocket{
  position: absolute;
  width: 10%;
    top: -14%;
    right: 96%;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    z-index: 3;
  animation: a-rocket 2s linear;
    opacity: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
/*vision*/
.vision-wrap{
  display: flex;
  justify-content: center;
  padding: 28px 0 140px;
}
.PageVision{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
}
.pageVision-left-wrap{
  flex: 1;
}
.vision-right-wrap{
  flex: 1;
}
.vision-btn{
  background-color: transparent;
  border: none;
  padding: 16px 40px 20px 0px;
    margin: 0;
    color: #90a4ae;
    cursor: pointer;
    position: relative;
    font-size: 34px;
    font-weight: 700;
}
.pageVision-item{
  padding: 16px 40px 20px 0px;
  margin: 0;
  color: #90a4ae;
  position: relative;
  font-size: 34px;
  font-weight: 700;
  border-bottom: solid 1px #90a4ae;
}
.vision-active{
  color: #2576b9;
}
.vision-content{

  max-width: 450px;
  position: relative;
  margin: 0;
  padding: 20px 8px 39px 8px;
  margin: 0;
  color: #2576b9;
    font-size: 34px;
    font-weight: 700;
    line-height: 129%;
    text-shadow: #ffd95c 9px 0px 0px, #ffd95c 8.9445px 0.99794px 0px, #ffd95c 8.77869px 1.98358px 0px, #ffd95c 8.50461px 2.94475px 0px, #ffd95c 8.12565px 3.86961px 0px, #ffd95c 7.64647px 4.74674px 0px, #ffd95c 7.07299px 5.56533px 0px, #ffd95c 6.41227px 6.31528px 0px, #ffd95c 5.67248px 6.98735px 0px, #ffd95c 4.86272px 7.57324px 0px, #ffd95c 3.99299px 8.06573px 0px, #ffd95c 3.07402px 8.45875px 0px, #ffd95c 2.11714px 8.74744px 0px, #ffd95c 1.13414px 8.92825px 0px, #ffd95c 0.13716px 8.99895px 0px, #ffd95c -0.86151px 8.95867px 0px, #ffd95c -1.84956px 8.8079px 0px, #ffd95c -2.8148px 8.5485px 0px, #ffd95c -3.74532px 8.18368px 0px, #ffd95c -4.62965px 7.71792px 0px, #ffd95c -5.45689px 7.15698px 0px, #ffd95c -6.21682px 6.50777px 0px, #ffd95c -6.90009px 5.77831px 0px, #ffd95c -7.49825px 4.97757px 0px, #ffd95c -8.00394px 4.11545px 0px, #ffd95c -8.41092px 3.20258px 0px, #ffd95c -8.71416px 2.2502px 0px, #ffd95c -8.90993px 1.27008px 0px, #ffd95c -8.99582px 0.27429px 0px, #ffd95c -8.97076px -0.72488px 0px, #ffd95c -8.83507px -1.71511px 0px, #ffd95c -8.59041px -2.68419px 0px, #ffd95c -8.23981px -3.62017px 0px, #ffd95c -7.78758px -4.51149px 0px, #ffd95c -7.23931px -5.34718px 0px, #ffd95c -6.60176px -6.11692px 0px, #ffd95c -5.88279px -6.81122px 0px, #ffd95c -5.09127px -7.42152px 0px, #ffd95c -4.23696px -7.94029px 0px, #ffd95c -3.33039px -8.36113px 0px, #ffd95c -2.38275px -8.67885px 0px, #ffd95c -1.40572px -8.88954px 0px, #ffd95c -0.41136px -8.99059px 0px, #ffd95c 0.58808px -8.98077px 0px, #ffd95c 1.58026px -8.86018px 0px, #ffd95c 2.55296px -8.63032px 0px, #ffd95c 3.49417px -8.29402px 0px, #ffd95c 4.39229px -7.85543px 0px, #ffd95c 5.23623px -7.31996px 0px, #ffd95c 6.0156px -6.69422px 0px, #ffd95c 6.72078px -5.98591px 0px, #ffd95c 7.34307px -5.20378px 0px, #ffd95c 7.87479px -4.35748px 0px, #ffd95c 8.3094px -3.45743px 0px, #ffd95c 8.64153px -2.51474px 0px, #ffd95c 8.86709px -1.54104px 0px, #ffd95c 8.98328px -0.54833px 0px;
}
.vision-img-wrap{
  position:relative;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.img-vision-contain{
  width: 470px;
  height: 470px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffd95c;
}
.vision-img{
  width: 100%;
  height: 100%;
}
/*Teacher-home-page*/
.teacher-wrap{
  margin-top: -100px;
  background-color: #bcdaf2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 120px;
}
.teacher-inner{
  width: 1170px;
  padding: 28px 0 48px;
}
.teacher-title{
  text-align: center;
  font-family: "Brauer NeueVN";
  font-size: 42px;
  font-weight: 700;
  color: #2576b9;
  margin-bottom: 24px;
  line-height: 1.8;
  letter-spacing: 0;
}
.teacher-intro-content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.teacherSlider
{
  position: relative;
  width: 90%;
}
.teacher-info{
  width: 30%;
  display: flex!important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 18px;
  text-align: center;
}
.teacher-img-wrap{
  width: 208px;
  height: 208px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #2576b9;
}
.teacher-img{
  width: 100%;
  height: 100%;
}
.teacher-name{
  padding: 24px 0 20px;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #2576b9;
  margin-top: 16px;
}
.teacher-role{
  font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #2576b9;
    font-family: Montserrat;
    margin-top: 8px;
}
.teacher-des{
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.25px;
  font-family: Montserrat;
  margin: 14px 0;
}
.teacher-control-left{
  width:32px;
  height:32px;
  top:120px;
  opacity: 1;
  left:0;
}
.teacher-control-right{
  width:32px;
  height:32px;
  top:120px;
  opacity: 1;
  right:0;
}
/*instructment-section*/
.Course-list-wrap,
.instrucment-wrap{
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
}
.Course-list-inner,
.instruct-inner{
  width: 1170px;
  position: relative;
}
.Course-list-title,
.instruct-title{
  width: 100%;
  text-align: center;
  font-family: "Brauer NeueVN";
  font-size: 42px;
  font-weight: 700;
  color: #2576b9;
  margin-bottom: 5px;
  line-height: 1.8;
  letter-spacing: 0;
  padding:18px 0;
}
.course-list-content,
.course-slide,
.instruct-slide,
.instruct-content{
  width: 100%;
  position: relative;
}
.course-slide,
.instruct-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.courseSlider,
.instructSlider{
  max-width: 913px;
  width: 90%;
  height: 432px;
  
}
.courseSlidler-item,
.instructSlidler-item{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.inStructSlidePagging{
  width: 100%;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.instructNavigation{
  max-width: 913px;
  width: 90%;
}
.instructNav-item{
  margin :0 12px;
}
.instruct-item-wrap{
  border-radius: 16px;
  overflow: hidden;
}

.instruct-control-prev{
  width:32px;
  height:32px;
  top:220px;
  opacity: 1;
  left: 38px;
  position: absolute;
}
.instruct-control-next-wrap{
  position: absolute;
  width:32px;
  height:32px;
  top:220px;
  opacity: 1;
  right:38px;

}
/*Course*/

/*Footer*/
.Footer{
  padding: 16px 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer-inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer-title{
  position: relative;
  font-size: 38px;
  line-height: 41px;
  font-weight: 700;
  max-width: 690px;
  text-align: center;
  color: #2576b9;
  text-shadow: #ffd95c 9px 0px 0px, #ffd95c 8.9445px 0.997944px 0px, #ffd95c 8.77869px 1.98358px 0px, #ffd95c 8.50461px 2.94475px 0px, #ffd95c 8.12565px 3.86961px 0px, #ffd95c 7.64647px 4.74674px 0px, #ffd95c 7.07299px 5.56533px 0px, #ffd95c 6.41227px 6.31528px 0px, #ffd95c 5.67248px 6.98735px 0px, #ffd95c 4.86272px 7.57324px 0px, #ffd95c 3.99299px 8.06573px 0px, #ffd95c 3.07402px 8.45875px 0px, #ffd95c 2.11714px 8.74744px 0px, #ffd95c 1.13414px 8.92825px 0px, #ffd95c 0.137162px 8.99895px 0px, #ffd95c -0.861512px 8.95867px 0px, #ffd95c -1.84956px 8.8079px 0px, #ffd95c -2.8148px 8.5485px 0px, #ffd95c -3.74532px 8.18368px 0px, #ffd95c -4.62965px 7.71792px 0px, #ffd95c -5.45689px 7.15698px 0px, #ffd95c -6.21682px 6.50777px 0px, #ffd95c -6.90009px 5.77831px 0px, #ffd95c -7.49825px 4.97757px 0px, #ffd95c -8.00394px 4.11545px 0px, #ffd95c -8.41092px 3.20258px 0px, #ffd95c -8.71416px 2.2502px 0px, #ffd95c -8.90993px 1.27008px 0px, #ffd95c -8.99582px 0.274291px 0px, #ffd95c -8.97076px -0.72488px 0px, #ffd95c -8.83507px -1.71511px 0px, #ffd95c -8.59041px -2.68419px 0px, #ffd95c -8.23981px -3.62017px 0px, #ffd95c -7.78758px -4.51149px 0px, #ffd95c -7.23931px -5.34718px 0px, #ffd95c -6.60176px -6.11692px 0px, #ffd95c -5.88279px -6.81122px 0px, #ffd95c -5.09127px -7.42152px 0px, #ffd95c -4.23696px -7.94029px 0px, #ffd95c -3.33039px -8.36113px 0px, #ffd95c -2.38275px -8.67885px 0px, #ffd95c -1.40572px -8.88954px 0px, #ffd95c -0.411357px -8.99059px 0px, #ffd95c 0.58808px -8.98077px 0px, #ffd95c 1.58026px -8.86018px 0px, #ffd95c 2.55296px -8.63032px 0px, #ffd95c 3.49417px -8.29402px 0px, #ffd95c 4.39229px -7.85543px 0px, #ffd95c 5.23623px -7.31996px 0px, #ffd95c 6.0156px -6.69422px 0px, #ffd95c 6.72078px -5.98591px 0px, #ffd95c 7.34307px -5.20378px 0px, #ffd95c 7.87479px -4.35748px 0px, #ffd95c 8.3094px -3.45743px 0px, #ffd95c 8.64153px -2.51474px 0px, #ffd95c 8.86709px -1.54104px 0px, #ffd95c 8.98328px -0.548328px 0px;
}
.Footer-content-wrap{
  margin-top: 142px;
  position:relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Footer-content-bg{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.Footer-content-inner{
  width: 1070px;
  margin-top: 92px;
  z-index: 2;
}
.Footer-content-block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer-content-block-content{
  max-width: 250px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.Footer-content-flex-wrap{
  margin-top: 40px;
  height: 248px;
}
.Footer-content-item{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.Footer-content-smitem{
  display: flex;
}
.Footer-content-smitem-text{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
}
.Footer-content-smitem-img{
  width: 67px;
}
.footer-word-wrap{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.Footer-content-item:last-child{
  margin-top: 24px;
}
.footer-back{
  margin-top: 42px;
  padding: 18px 0 42px;
  border-top: 1px solid #fff
  ;
}
.footer-box-wrap{
  display: flex;
  justify-content: space-between;
}
.footer-back-left{
  flex: 1;
}
.footer-back-right{
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.footer-back-right-nav{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.icon-flex{
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 6px;
}
/*animation*/
@keyframes a-rocket {
  0% {
    top: 77%;
    right: -120px;
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
  }
  13% {
    top: 2%;
    right: 10%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  18% {
    top: -8%;
    right: 15%;
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
  }
  23% {
    top: -14%;
    right: 20%;
    -webkit-transform: rotate(-19deg);
    transform: rotate(-19deg);
  }
  28% {
    top: -18%;
    right: 25%;
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  33% {
    top: -21%;
    right: 30%;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  43% {
    top: -18%;
    right: 40%;
    -webkit-transform: rotate(-39deg);
    transform: rotate(-39deg);
  }
  53% {
    top: -10%;
    right: 50%;
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
  }
  62% {
    top: 2%;
    right: 60%;
    -webkit-transform: rotate(-48deg);
    transform: rotate(-48deg);
}72% {
    top: 12%;
    right: 70%;
    -webkit-transform: rotate(-41deg);
    transform: rotate(-41deg);
}
82% {
    top: 14%;
    right: 80%;
    -webkit-transform: rotate(-27deg);
    transform: rotate(-27deg);
}
87% {
    top: 10%;
    right: 85%;
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
}
92% {
    top: 1%;
    right: 90%;
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
}97% {
    top: -9%;
    right: 95%;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
}100% {
    top: -14%;
    right: 96%;
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
}