*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body {
    background-image: url(/assets/images/LoginBG.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

#contain{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-star img{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    z-index: 2;
}

.login-student{
    z-index: 3;
}
.login-student-img{
    display: flex;
    justify-content: end;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.login-student-img img{
    width: 80px;
    height: 80px;
    padding:10px 10px 0px 100%;
}

.login-student-form{
    background: rgba(125,128,119, 0.8);
    border: 2px solid #fff;
    padding: 40px 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-student-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-student-form div{
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-student-form h1 {
    color: #fff;
    font-size: 40px;
}


.login-student-form-input{
    height: 40px;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    border: none;
    background: rgba(125,128,119, 0.8);
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 16px;
}
input:focus {
    outline: none;
  }
  input:focus::placeholder {
    color: transparent;
  }
.form-a{
     background-color: #fff;
     color: #209ad6; 
     padding: 10px 30px; 
     border-radius: 22px;
     font-size: 18px;
}
.form-submit {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #209ad6 !important;
    color:#fff;
    border-radius: 22px;
    border: none;
}

input[type="text"] {
    padding: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  input[type="text"]::placeholder {
    opacity: 1;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="text"]:focus::placeholder {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .login-slogan{
    margin-top:300px;
  }
  footer{
    background: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 13px;
    padding: 3px 10px;
  }
  .footer-p{
    color: #0ea924;
    border-bottom: 1px solid #ddd;
  }




  @media screen and (max-width: 1024px) {
    #contain{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
    }
    .login-star{
      display: none;
    }
    .login-student{
      margin-top: 20px;
    }
    .login-student-img img{
      width: 80px;
      height: 80px;
      padding:5px;
  }
  .login-student-form{
   
    padding: 10px 50px;
    
}
  .login-slogan{
    margin-top:0px;
  }
  }

  @media screen and (max-width: 600px) {
    #contain{
      display: flex;
      flex-direction: column;
    }
}
  


  
 
  
 
  


