
body {
    background-color: #f2f2f2;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.tab button{
    background-color: #ededed;
    border: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    float: left;
    margin: 2px 0 0 2px;
    border-radius: 0;
}

/* Thêm hiệu ứng khi hover trên các button */
.tab button:hover {
    background-color: #ddd;
}

/* Thiết lập kích thước cho mỗi tab content */
/* .tabcontent {
    display: none;
    margin-top: 25px;
    text-align: center;
    background-color: #ffff;
    height: 300px;
} */

#Tab2,#Tab3,#Tab4,#Tab5
,#Tab2-add,#Tab3-add,#Tab4-add,#Tab5-add,
#tab-3-2,#tab-3-3
{
    display: none;
}


.tab {
    height: 44px;
    background-color: black;
}


.tab button.active {
    background-color: #747272;
}



table {

    display: table-header-group;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

thead {
    background-color: #333;
    color: white;
}


th,
td {
    padding: 0.8rem;
    text-align: center;
}

th {
    letter-spacing: 0.1rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d4e3ff;
}

tbody {
    display: block;
    max-height: 500px;
    /* set maximum height */
    overflow-y: auto;
    /* enable vertical scroll */
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


/* ==================================== */

button {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.add-bill-button {
    margin: 1rem auto;
    display: block;
    width: 200px;
    margin-right: 20px;
}


.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
    max-height: 700px;
    overflow-y:scroll;
    height: 95%;
}

.close-btn {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}




    /* giao diện thông tin chi tiết */
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
    }
    .avatar {
      display: block;
      margin: 0 auto;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .name {
      font-size: 28px;
      font-weight: bold;
      margin-top: 20px;
    }
    .contact-info {
      margin-top: 20px;
    }
    .section {
      margin-top: 30px;
    }
    .section-header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .section-content {
      line-height: 1.5;
    }

    
    .container table {
        margin: auto;
        border-collapse: collapse;
        border: 2px solid #ddd;
        width: 80%;
    }
    .container th, .container td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .container th, .container td {
        background-color: #ffff;
    }

    /* CSS sua thong tin */
    .modal-bg-add, .modal-bg-edit {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 100;
    }
    
      .modal-content-edit ,.modal-content-add  {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        max-width: 800px;
        width: 100%;
        max-height: 750px;
        overflow-y:scroll;
    }

    .modal-bg-add input[type=text], .modal-bg-edit input[type=text],
    .modal-bg-add input[type=email], .modal-bg-edit input[type=email],
    .modal-bg-add input[type=tel], .modal-bg-edit input[type=tel] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 15px;
    }
    
    .modal-bg-add select, .modal-bg-edit select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    .modal-bg-add input[type=submit], .modal-bg-edit input[type=submit],
    .modal-bg-add button, .modal-bg-edit button {

      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: auto;
    }

    .modal-bg-add input[type=submit], .modal-bg-edit input[type=submit]{
        background-color: #4CAF50;
    margin-right: 70px;
    float: right;
  

    }

    .modal-bg-add button , .modal-bg-edit button {
        /* background-color: #f83d3d; */
        margin-left: 70px;
        /* float: left; */
        font-size: 14px;
    }
    
    .modal-bg-add input[type=submit]:hover, .modal-bg-edit input[type=submit]:hover {
      background-color: #45a049;
    }

    .modal-bg-add button:hover , .modal-bg-edit button:hover {
        background-color: #e35a5a;

    }
    
    .modal-bg-add div, .modal-bg-edit div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      height: 95%;
    }
    
    .modal-bg-add h1, .modal-bg-edit h1 {
      text-align: center;
    }

    .update-success ,.add-success , 
    .delete-success, .delete-ques, 
    .delete-cant ,
    .delete-bill-ques,
    .delete-bill-ques-2,
    .change-pass-success{
        text-align: center;
        position: fixed;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        background-color: #e5d1ac;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        max-width: 250px;
        width: 100%;
        max-height: 700px;
        display: none;
        z-index:200 ;
        animation: fadeIn 0.5s forwards;
  
    }

    .delete-ques-trans{
      text-align: center;
        position: fixed;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        background-color: #d3d9ff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        max-width: 250px;
        width: 100%;
        max-height: 700px;
        display: none;
        z-index:200 ;
        animation: fadeIn 0.5s forwards;
    }
    
    @keyframes fadeIn {
      0% { opacity: 0; transform: translateY(-20px); }
      100% { opacity: 1; transform: translateY(0); }
    }

    
    .search-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    
    .search-container input[type="text"],
    .search-container input[type="submit"],
    .search-container button {
      margin: 0;
    }

 
    button:hover{
      opacity: 0.7;
      cursor: pointer;
    }

    .tbody-1 tr:hover{
      cursor: pointer;
    }


    .tab-add button{
        margin-left: 0;
        background-color: rosybrown;
        border-radius: 0;
        margin-bottom: 0;
    }

    .tab-add{
    all: unset;
    height: 53px;
    padding-bottom: 0;
    
    }
    
    .tab-add button.active {
        background-color: peru;
    }
    
    .tabcontent-add{
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .tabcontent-add td{
        text-align: unset;
    }

    input[type='submit']:hover{
        opacity: 0.7;
    }

    #div-bill-class-add{
      max-height: 500px;
      overflow-y: auto;
    }
    
    .lb-detail-bill{
      width: 250px;
    }

div.btn-tab-3{
  border-bottom: 1px solid;
  display: flex;
}

.tablinks-3{
  border-radius: 0;
  margin-right: 1px;
  background-color: indianred;
}

.tablinks-3.active {
  background-color:  saddlebrown;
}

#form-edit-bill td{
  text-align: unset;
}

#form-edit-bill tbody{
  max-height: fit-content;
}

#div-add-trans{
 
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #edf2ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    max-height: 700px;
    display: none;
    z-index:150 ;


}

.tbody-1 tr:hover{
  opacity: 0.8;
}
#table-1 th:hover{
  cursor:s-resize;
}

/* css nav Tab2 */

#nav-container-Tab2 {
  display: none;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  left: 178px;
  position: absolute;
  top: 177.75px;
  
}

#nav-container-Tab2 a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
  
}

#nav-container-Tab2 a:hover {
  background-color: #b1b1b1;
}

#teacher-list{
  width: 40%;
  background-color: rgb(250 250 250);
  list-style: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  position: absolute;
  max-height: 100px;
  overflow-y: auto;
}

#teacher-list li:hover{
  opacity: 0.7;
  cursor: pointer;
}