body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
	max-height: 50px;
	background-color: skyblue;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	color: #0088cc;
}

main {
	margin: 20px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	min-height: 500px;
}
.class-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.class {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	background-color: #f2f2f2;
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	text-align: center;
}

.image img {
	width: 100%;
	height: auto;
}

.info {
	padding: 10px;
	text-align: left;
}

h2 {
	margin-bottom: 10px;
}

p {
	margin-bottom: 5px;
}

footer {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* Định dạng CSS để trang web trông đẹp hơn */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
  }
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  h1 {
	text-align: center;
	color: #333;
  }
  form input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
  }
  form input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  form input[type=submit]:hover {
	background-color: #45a049;
  }
  table {
	width: 100%;
	border-collapse: collapse;
  }
  th, td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  tr:hover {
	background-color: #f5f5f5;
  }

  /* CSS để tạo box ở giữa màn hình */
  .center-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 20px;
	z-index: 2;
  }

  /* CSS để làm mờ màn hình chính */
  .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
  }

  /* CSS cho nút đóng */
  .close-button {
	text-align: center;
	margin-top: 10px;
  }

  .card {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
  }

  .center{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 18px ;
	margin-left: 15px;
  }
  .column{
	display: flex;
  }
/* ADD CLASS */


