body{
    margin:0;
    padding:0;
}
.personal-active{
    display: block!important;
}
.personal-disabled{
    display: none!important;
}
.personal-act-inline{
    display: inline!important;
}
.personal-act-flex{
    display: flex!important;
}
.personal-wrap{
    background-color: rgb(245, 245, 245);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.personal-bg-wrap{
    width: 100%;
    background-color: #6db5f0;
    position: relative;
    height: 180px;
    margin-top: 68px;
}
.personal-bg-wrap::before{
    content: "";
    position: absolute;
    background-image: url(../../assets/images/bg-personal.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100%;
}
.personal-center-inner{

}
.personal-inner{
    transform: translateY(-120px);
    width:380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.personal-avt-wrap{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(182, 182, 182);
    background-color: rgb(182, 182, 182);
}
.personal-avt{
    width: 100%;
    height: 100%;
}
.personal-inner-info{
    width: 100%;
    border-radius: 16px;
    background-color: #fff;
    padding: 12px 16px 32px;
    margin-top: 24px;
}
.personal-inner-item{
    max-width: 300px;
    margin-top: 16px;
}
.personal-inner-key{
    display: inline;
    margin-right: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #484848;
    min-width: 120px;
}
.personal-inner-value{
    display: inline;
    color: #484848;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
}
.edit-div{
    display: flex;
    justify-content: end;
}
.edit-wrap{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border:1px solid rgb(182, 182, 182);
    padding:6px;
    z-index: 2;
    cursor:pointer;
}
.edit-icon{
}
.personal-inner-edit-range{
    width: calc(100% - 32px);
    padding: 9px 16px;
    border-radius: 8px;
    border: 1px solid rgb(182, 182, 182);
    display: none;
}
.personal-inner-edit-range:focus{
    outline: none;
}
.personal-inner-password{
    margin-top: 24px;
}
.personal-inner-control{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    margin-top: 18px;
    display: none;
}
.personal-btn{
    padding: 9px 18px;
    border: none;
    cursor: pointer;
    min-width: 100px;
    border-radius: 16px;
}
.personal-cancel{
    background-color: rgb(182, 182, 182);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.personal-cancel:hover{
    box-shadow: rgb(182, 182, 182) 0px 0px 4px;
}
.personal-accept{
    background-color: #579d2d;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
.personal-accept:hover{
    box-shadow: #579d2d 0px 0px 4px;
}
