.PageMenuBar {

    width: unset;
}
.menubar-nav:hover {
    background-color: turquoise;
}
#content {
    margin-top: 100px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

#child {
    width: 30%;

}

#infor {
    width: 70%;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tab li {
    float: left;
}

.tab a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.tab a:hover {
    border-bottom: 2px solid #ccc;
    background-color: lightblue;
}

.tabcontent {
    display: none;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.tabcontent h3 {
    margin-top: 0;
}

.tablinks.active {
    background-color: steelblue;
}

.name-child {
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
    padding: 10px 5px;
    margin: 20px 0 20px 0;
}


.name-child:hover {
    cursor: pointer;
    border: 1px solid wheat;
    background-color: snow;
}

.name-child.active {
    background-color: darkseagreen;
}

#tbody-infor td {
    padding: 20px;
    font-size: 16px;
    border-bottom: 1px solid #ddd
}

#tbody-infor tr {
    border: #000 1px;
}

#tbody-infor tr td:first-child {
    font-weight: bold;
    width: 30%;
}

#tbody-infor tr td:last-child {
    width: 70%;
}

#tbody-infor tr:last-child td {
    border-bottom: none;
}

#tbody-class td {
    padding: 20px;

}



.class {

    border: double 3px #a1b8e6;
    border-radius: 10px;
    background-color: seashell;
    margin: 10px;
}

.tabpane {
    display: none;
}

.tabpane.active {
    display: block;
}


.tab-2 {
    display: flex;
}

.tab-2 .tablinks-2 {
    padding: 10px 20px;

    background-color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-2 .tablinks-2.active {
    background-color: #f1f1f1;
}

.tabpane {
    display: none;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

.tabpane.active {
    display: block;
}

#btn-add-child {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;
}


#btn-add-child:hover {
    background-color: #0069d9;
}

#input-child {
    padding: 10px;
    width: 75%;
    border-radius: 5px;
}

#btn-link {
    padding: 5px;
    padding: 5px;
    margin: 5px 0 0 65%;
}


button:hover {
    cursor: pointer;
    opacity: 0.7;
}

#div-link {
    padding: 20px;
    display: none;
    
    background-color: whitesmoke;
    border-radius: 5px;
}


.add-success{
    text-align: center;
        position: fixed;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
        background-color: #f2e7d1;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
        max-width: 250px;
        width: 100%;
        max-height: 700px;
        display: none;
        z-index:200 ;
        animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }



  #btn-nofi{
    border: none;
    margin-left: 10px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 201px;
    background-color: unset;
}
  
  #div-nofi{
    display: none;
    position: absolute;
    
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    max-height: 380px;
    background-color: lavender;
    overflow-y: auto;
    border: ridge;
    z-index: 1000;
    top: 47px;
    right: 225px;
  }

  #nofi{
    border: solid 2px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }

  #nofi button {
    background-color: rgb(0 125 124);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
button:hover , input[submit]:hover{
    cursor: pointer;
    opacity: 0.7;
}

#container-class, #container-class-close{
    max-height: 800px;
    overflow-y: auto;
}

#btn-logout:hover{
    cursor: pointer;
}

